.top-nav{
    .content-wrapper {
        margin-left: 1rem;
    }
    .sidenav {
        left: 0;
        width: 100%;
        white-space: nowrap;
        position: absolute;
        margin-top: 6.7rem;
        padding-left:2rem ;
        .nav-second-level{
            width: 10rem;
            margin-top: .3rem;
        }
    }
    footer{
        width: 100%;
        margin:0;
    }
}