<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
    <a class="navbar-brand p-0" href="#"><img class="avatar" src="{{root}}assets/images/logo.svg" alt="" width="45"><b class="ml-2">Sassy</b></a>
    
    <div class="collapse navbar-collapse  order-sm-last order-lg-0 " id="navbarCollapse">
        <ul class="d-flex flex-column  navbar-nav mr-auto sidenav bg-white pl-3 " id="navAccordion">
            <li class="nav-item pt-2 {{#ifpage 'index'}}active{{/ifpage}} ">
                <a class="nav-link" href="/index.html" data-toggle="tooltip" title="dashboard"><i class="fas fa-house-damage"></i><span class="pl-3 title">dashboard</span></a>
            </li>
            <li class="nav-item py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem1" aria-controls="SubItem1" aria-expanded="false">
                <a class="nav-link nav-link-collapse  {{#ifpage '{{#each global.nav}}{{name}}{{/each}}' }}active{{/ifpage}}" href="#" data-toggle="tooltip" title="Components"><i class="fas fa-layer-group"></i><span class="pl-3 title">Components</span></a>
                <ul class="nav-second-level collapse {{#ifpage '{{#each global.nav}}{{name}}{{/each}}' }}show{{/ifpage}}" id="SubItem1" data-parent="#navAccordion">
                    {{#each global.nav}}
                    <li><a class="nav-link {{#ifpage '{{name}}'}}active{{/ifpage}}" href="{{root}}{{name}}.html"><span class="nav-link-text "><span class="nav-check"></span>{{name}}</span></a></li>
                    {{/each}}
                </ul>
            </li>
            <li class="nav-item py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem30" aria-controls="SubItem30" aria-expanded="false">
                <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Charts"><i class="fas fa-wrench"></i><span class="pl-3 title">Utilities</span></a>
                <ul class="nav-second-level collapse " id="SubItem30" data-parent="#navAccordion">
                    <li><a class="nav-link" href="{{root}}grid.html"><span class="nav-link-text "><span class="nav-check"></span>Grid</span></a></li>
                    <li><a class="nav-link {{#ifpage 'typography'}}active{{/ifpage}}" href="{{root}}flexbox.html"><span class="nav-link-text "><span class="nav-check"></span>B4 flex</span></a></li>
                </ul>
            </li>
            <li class="nav-item py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem2" aria-controls="SubItem2" aria-expanded="false">
                <a class="nav-link nav-link-collapse {{#ifpage 'basic_forms' 'iconic_form' 'text_editors' }}active{{/ifpage}} " href="#" data-toggle="tooltip" title="Forms"><i class="fas fa-file-alt"></i><span class="pl-3 title">Forms</span></a>
                <ul class="nav-second-level collapse {{#ifpage 'basic_forms' 'iconic_form' 'text_editors' }}show{{/ifpage}} " id="SubItem2" data-parent="#navAccordion">
                    <li><a class="nav-link {{#ifpage 'basic_forms'}}active{{/ifpage}}" href="{{root}}basic_forms.html"><span class="nav-link-text "><span class="nav-check"></span>Basic forms</span></a></li>
                    <li><a class="nav-link {{#ifpage 'iconic_form'}}active{{/ifpage}}" href="{{root}}iconic_form.html"><span class="nav-link-text "><span class="nav-check"></span>iconic forms</span></a></li>
                    <li><a class="nav-link {{#ifpage 'text_editors'}}active{{/ifpage}}" href="{{root}}text_editors.html"><span class="nav-link-text "><span class="nav-check"></span>Text Editors</span></a></li>
                </ul>
            </li>
            <li class="nav-item py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem3" aria-controls="SubItem3" aria-expanded="false">
                <a class="nav-link nav-link-collapse {{#ifpage 'chartjs' 'sparkline'}}active{{/ifpage}}" href="#" data-toggle="tooltip" title="Charts"><i class="fas fa-chart-pie"></i><span class="pl-3 title">Charts</span></a>
                <ul class="nav-second-level collapse {{#ifpage 'chartjs' 'sparkline'}}show{{/ifpage}} " id="SubItem3" data-parent="#navAccordion">
                    <li><a class="nav-link {{#ifpage 'chartjs'}}active{{/ifpage}}" href="{{root}}chartjs.html"><span class="nav-link-text "><span class="nav-check"></span>chartjs</span></a></li>
                    <li><a class="nav-link {{#ifpage 'sparkline'}}active{{/ifpage}}" href="{{root}}sparkline.html"><span class="nav-link-text "><span class="nav-check"></span>sparkline</span></a></li>
                </ul>
            </li>
            <li class="nav-item py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem4" aria-controls="SubItem4" aria-expanded="false">
                <a class="nav-link nav-link-collapse {{#ifpage 'bootstrap_tables' 'data_tables'}}active{{/ifpage}} " href="#" data-toggle="tooltip" title="Tables"><i class="fas fa-table"></i><span class="pl-3 title">Tables</span></a>
                <ul class="nav-second-level collapse {{#ifpage 'bootstrap_tables' 'data_tables'}}show{{/ifpage}} " id="SubItem4" data-parent="#navAccordion">
                    <li><a class="nav-link {{#ifpage 'bootstrap_tables'}}active{{/ifpage}}" href="{{root}}bootstrap_tables.html"><span class="nav-link-text "><span class="nav-check"></span>Basic Tables</span></a></li>
                    <li><a class="nav-link {{#ifpage 'data_tables'}}active{{/ifpage}}" href="{{root}}data_tables.html"><span class="nav-link-text "><span class="nav-check"></span>Data Tables</span></a></li>
                </ul>
            </li>
            <li class="nav-item py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem5" aria-controls="SubItem5" aria-expanded="false">
                <a class="nav-link nav-link-collapse {{#ifpage 'sweet_alert' 'toastr'}}active{{/ifpage}} " href="#" data-toggle="tooltip" title="Alerts plugins"><i class="far fa-comment-alt"></i><span class="pl-3 title">Notifications</span></a>
                <ul class="nav-second-level collapse {{#ifpage 'sweet_alert' 'toastr'}}show{{/ifpage}} " id="SubItem5" data-parent="#navAccordion">
                    <li><a class="nav-link {{#ifpage 'sweet_alert'}}active{{/ifpage}}" href="{{root}}sweet_alert.html"><span class="nav-link-text "><span class="nav-check"></span>Sweet alert</span></a></li>
                    <li><a class="nav-link {{#ifpage 'toastr'}}active{{/ifpage}}" href="{{root}}toastr.html"><span class="nav-link-text "><span class="nav-check"></span>Toastr</span></a></li>
                </ul>
            </li>
            <li class="nav-item  py-1" id="hasSubItems" data-toggle="collapse" data-target="#SubItem7" aria-controls="SubItem7" aria-expanded="false">
                <a class="nav-link  nav-link-collapse " href="#" data-toggle="tooltip" title="Pages"><i class="far fa-file"></i><span class="pl-3 title">Pages</span></a>
                <ul class="nav-second-level collapse " id="SubItem7" data-parent="#navAccordion">
                    <li><a class="nav-link" href="{{root}}404.html"><span class="nav-link-text "><span class="nav-check"></span>404 page</span></a></li>
                    <li><a class="nav-link" href="{{root}}contact.html"><span class="nav-link-text "><span class="nav-check"></span>Contact us</span></a></li>
                    <li><a class="nav-link" href="{{root}}faq.html"><span class="nav-link-text "><span class="nav-check"></span>Faq</span></a></li>
                    <li><a class="nav-link" href="{{root}}login.html"><span class="nav-link-text "><span class="nav-check"></span>Login page</span></a></li>
                    <li><a class="nav-link" href="{{root}}pricing.html"><span class="nav-link-text "><span class="nav-check"></span>Pricing Tables</span></a></li>
                    <li><a class="nav-link" href="{{root}}register.html"><span class="nav-link-text "><span class="nav-check"></span>Register</span></a></li>
                </ul>
            </li>
            <li class="nav-item pt-2 ">
                <a class="nav-link" href="{{root}}docs.html" data-toggle="tooltip" title="documentation"><i class="fas fa-house-damage"></i><span class="pl-3 title">Docs</span></a>
            </li>
        </ul>
    </div>
        <div class="dropdown ml-lg-auto mr-lg-5">
            <div id="notification" class="carousel-fade" data-ride="carousel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="carousel-inner">
                    <a href="/hello" class="carousel-item active d-flex">
                        <img class="avatar rounded-circle" src="{{root}}assets/images/18.jpg" alt="" width="40">
                            <span class="badge  badge-primary badge-pill  pin-badge mt-3 ml-n2 "><i class="fas fa-comment"></i></span>
                    </a>
                    <a href="/hello" class="carousel-item d-flex">
                        <img class="avatar rounded-circle" src="{{root}}assets/images/12.jpg" alt="" width="40">
                            <span class="badge badge-danger text-white badge-pill pin-badge mt-3 ml-n2"><i class="fas fa-envelope"></i></span>
                    </a>
                    <a href="/hello"  class="carousel-item d-flex">
                        <img class="avatar rounded-circle" src="{{root}}assets/images/2.jpg" alt="" width="40">
                            <span class="badge badge-danger text-white badge-pill pin-badge mt-3 ml-n2"><i class="fas fa-envelope"></i></span>
                    </a>
                </div>
            </div>
            <div class="dropdown-menu notification">
                    <div class="dropdown-item">
                      <small class="mb-0 font-weight-normal float-left"> 7 unread mails</small>
                      <span class="badge badge-info badge-pill float-right">View all</span>
                    </div>
                    <a class="dropdown-item d-flex">
                      <div class="ml-n3">
                        <img src="{{root}}assets/images/86.jpg" alt="image" class="avatar rounded-circle">
                      </div>
                      <div class="flex-grow ml-2">
                        <b class="pl-2 p-0">John
                          <small class="float-right m-0">1 Minutes ago</small>
                        </b>
                        <p class="m-0">
                          The meeting is cancelled
                        </p>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex">
                        <div class="ml-n3">
                          <img src="{{root}}assets/images/12.jpg" alt="image" class="avatar rounded-circle">
                        </div>
                        <div class="flex-grow ml-2">
                          <b class="pl-2 p-0">John
                            <small class="float-right m-0">1 Minutes ago</small>
                          </b>
                          <p class="m-0">
                            The meeting is cancelled
                          </p>
                        </div>
                      </a>
                    <a class="dropdown-item d-flex">
                        <div class="ml-n3">
                          <img src="{{root}}assets/images/2.jpg" alt="image" class="avatar rounded-circle">
                        </div>
                        <div class="flex-grow ml-2">
                          <b class="pl-2 p-0">John
                            <small class="float-right m-0">1 Minutes ago</small>
                          </b>
                          <p class="m-0">
                            The meeting is cancelled
                          </p>
                        </div>
                      </a>
            </div>
        </div>
        <!-- user account -->
        <div class="dropdown">
            <button class="btn  dropdown-toggle p-0 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{root}}assets/images/user.svg" alt="" width="40">
            </button>
            <div class="dropdown-menu account" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>