{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{#ifpage 'login' 'register' 'contact' 'docs'}}
        {{> body}}
        {{> footer}}
    {{/ifpage}}
    {{#unlesspage 'login' 'register' 'contact' 'docs'}}
    <main role="main" class="content-wrapper">
        {{> navigation}}
        {{> breadcrumb}}
        <div class="row page-content m-0">
        {{> body}}
         </div>
    </main>
    {{/unlesspage}}

    {{#unlesspage 'docs'}}
    {{> footer}}
    {{/unlesspage}}
    </body>
</html>
