.clip-circle{
    clip-path: $circle;
}
.clip-ellipse {
    clip-path:$eclipse;
}
.primary-clip {
    clip-path:$theme-clip;
}
.clip-triangle{
    clip-path: $triangle;
}
.clip-hexagon{
    clip-path: $hexagon;
}
.clip-rhombus {
    clip-path:$rhombus;
}
.clip-octagon {
    clip-path:$octagon;
}
.clip-star{
    clip-path: $star;
}