html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 4.5rem;
  margin-bottom: 4.5rem;
}
.navbar-brand{
  width: 10rem;
  @include media-breakpoint-down(lg) {
    width: 3rem;
  }
}
.cursor-pointer{cursor: pointer;}
.avatar{
  width: 2.5rem;
  height: 2.5rem;
}
.chat{
  height:30rem;
  overflow: hidden;
}
.drop-anim{
  @include  animation(scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both)
}
.stat-card{
  @include  animation(scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both)
}
.progress-sm{
  height: .5rem;
  margin: .2rem 0;
}
.slider-btn{width: 4rem;}
#notification{width: 4rem;}
.notification{margin-left: -9rem;}
.card-header-sm{padding: .25rem 1.25rem;}
.account{margin-left: -6rem;}
.dropdown-menu{margin-top: .54rem;}
.avatar{width: 2.5rem;}
.counter{font-size: 20px;}
:not(pre) > code[class*="language-"], pre[class*="language-"] {background: #ddeaf0 !important;}
@media (max-width: 992px) {
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .navbar-light .navbar-brand b{display: none;}
  .notification{margin-left: -5rem;}
  .account{margin-left: -5rem;}
  .bg-sm-white{background:white;}
  
}



