// mixins
/**
*  medium screens
*  mini -layout
*/
@mixin mini-layout {
    .navbar-brand {
        width: 3rem;
        margin-left: -.6rem;
        border-right: solid 1px #007bff;
        b {
            display: none;
        }
    }
    .content-wrapper {
        margin-left: 3.7rem !important;
    }
    .sidenav {
        width: 3.5rem;
        top: -2px;
        .nav-item {
            padding-bottom: .5rem !important;
        }
        .nav-link-collapse {
            margin-left: .5rem;
        }
        .nav-item ul.nav-second-level {
            position: absolute;
            margin-top: -36px;
            margin-left: 63px;
            width: auto;
            z-index: 100;
            min-width: 180px;
            background: white;
            border-radius: 7px;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        }
        .title,
        .navbar-brand span {
            display: none;
        }
    }
    .footer {
        margin-left: 3.5rem;
        width: calc(100% - 3.5rem);
    }
}