html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  margin-bottom: 4.5rem;
}
.navbar-brand{
  width: 10rem;
  @include media-breakpoint-down(lg) {
    width: 3rem;
  }
}
.avatar{
  width: 2.5rem;
  height: 2.5rem;
}
.chat{
  height:30rem;
  overflow: hidden;
}

.dot{
  width: 1rem;
  height: 1rem;
}
.progress-sm{
  height: .5rem;
}
.slider-btn{
  width: 4rem;
}
#notification{
  width: 4rem;
}
.notification{
  margin-left: -9rem;
}
.notification::before,.account::before{
  font-family: pct;
  content: "\63";
  font-size: 50px;
  position: absolute;
  top: -2.7rem;
  margin-left: 5rem;
  color: rgb(201, 201, 201);
}
.card-header-sm{
  padding: .25rem 1.25rem;
}
.account{
  margin-left: -8rem;
}
.dropdown-menu{
  margin-top: 1rem;
}
.avatar{
  width: 2.5rem;
}
@media (max-width: 992px) {
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .navbar-light .navbar-brand b{
    display: none;
  }
  .notification{
    margin-left: -5rem;
  }
  .account{
    margin-left: -5rem;
  }
  .bg-sm-white{
    background:white;
  }
  
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 11rem;
  }
  .page-content{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  
  .notification::before{
    margin-left: 9rem;
  }
  .account::before{
    margin-left: 8rem;
  }
}





