.hamburger-toggle {
      position: relative;
      padding: 0;
      background: transparent;
      border: 1px solid transparent;
      cursor: pointer;
      order: 1;
    }
    .hamburger-toggle [class*='bar-'] {
      display: block;
      background: #102c58;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
      border-radius: 2px;
      height: 2px;
      width: 24px;
      margin-bottom: 4px;
    }
    .hamburger-toggle [class*='bar-']:nth-child(2) {
      width: 18px;
    }
    .hamburger-toggle [class*='bar-']:last-child {
      margin-bottom: 0;
      width: 12px;
    }
    .hamburger-toggle.is-opened {
      left: 3px;
    }
    .hamburger-toggle.is-opened [class*='bar-'] {
      background: #102c58;
    }
    .hamburger-toggle.is-opened .bar-top {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 15% 15%;
      transform-origin: 15% 15%;
    }
    .hamburger-toggle.is-opened .bar-mid {
      opacity: 0;
    }
    .hamburger-toggle.is-opened .bar-bot {
      -webkit-transform: rotate(45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 15% 95%;
      transform-origin: 15% 95%;
      width: 24px;
    }
    .hamburger-toggle:focus {
      outline-width: 0;
    }
    