
$black:    #000 !default;
$border-radius: .9rem;
$body-bg: #f2f8f9;

$fa-font-path:        "../fonts";
$box-shadow-xs: 0 .125rem .525rem rgba($black, .075), 0 .125rem .525rem rgba($black, .075);
$box-shadow-sm-top:  .25rem -.125rem .25rem 0rem rgba($black, .075) !default;
$box-shadow-sm-right:  .125rem .525rem .25rem 0rem rgba($black, .075) !default;
$box-shadow-sm-balanced:  0 .125rem .525rem rgba($black, .075), 0 .125rem .525rem rgba($black, .075);

// positions
$absolute:absolute;
